body {
    font-family: 'YdeStreetL', sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cursive {
    font-family: cursive;
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

  body.dark-mode {
    background-color: #333;
    color: #f2f2f2;
  }

 .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .toggle-switch {
    display: none;
  }

  .toggle-label {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #ddd;
    cursor: pointer;
  }

  .toggle-label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  .toggle-label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 35px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .toggle-switch:checked + .toggle-label::before {
    transform: translateX(30px);
  }

  .toggle-switch:checked + .toggle-label::after {
    color: #fff;
  }

  .toggle-label::before,
  .toggle-label::after {
    display: inline-block;
    vertical-align: middle;
  }

  .toggle-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
/* adjusting fonts */

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}
@media only screen and (max-device-width: 812px) { 
    // body {
    background: beige;
}


@media only screen and (max-device-width: 812px) {
  body{
    background-color: lightpink;
  }
}

@media only print{
  body{
    font-family: cursive;
  }
}
/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/