body {
    color: orange;
    Font-family: arial;
}

.cursive {
    font-family: cursive;
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	transition: background 500ms ease;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}
@media only screen and (max-device-width: 812px) { 
    // body {
    background: beige;
}

.darkmode {
	color: #CED3CD;
	/*text-shadow: 0 0 10px #F1F4ED;*/
	background-color: #3B3034;
}

.darkmode header {
	background-color: #3B3034; 
	background-repeat: no-repeat; 
	background-blend-mode:soft-light;

}

.darkmode a,
.darkmode a:visited {
	color: #CED3CD;
	text-shadow: 0 0 10px #E6484F;
}

.darkmode a:hover {
	color: #FFFFFF;
}

.darkmode button {
	color: #CED3CD;
	text-shadow: 0 0 10px #E6484F;

}

.darkmode button:hover {
	color: #FFFFFF;
}

.hidden {
	display: none;
}

@media only screen and (max-device-width: 812px) {
  body{
    background-color: lightpink;
  }
}

@media only print{
  body{
    font-family: cursive;
  }
}
/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/